{% extends "base.html" %}

{% block body %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Face Location</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <button type="button" class="btn btn-primary btn-large login-logout-btn"
                            data-ng-show="!logged" data-ng-disabled="!facebookReady"
                            data-ng-click="IntentLogin(logged, login)">Login com Facebook
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-danger btn-large login-logout-btn"
                            data-ng-show="logged" data-ng-disabled="!facebookReady"
                            data-ng-click="logout()">Logout
                    </button>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h2><em>My Face Location</em> <small>places</small></h2>
            <p> Agora ficou fácil conferir suas últimas postagens e descobrir por onde você tem andado.</p>
        </div>
    </div>
    <div>
        <div class="alert alert-info" data-ng-show="salutation">Oi, {{user.name|angular}}</div>
    </div>

    <div class="">
        <div class="col-md-6">
            <map zoom="2" center="0, -80" map-type-id="TERRAIN">
                <shape name="polyline" path="{{mapLocations|angular}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2">
                </shape>
            </map>
        </div>

        <div class="col-md-6 home-message-box" data-ng-show="!logged">
            <div class="message-center">
                Com apenas um clique você pode conferir suas últimas postagens
                com localização do Facebook. Também mostraremos sua rota no mapa ao lado.
            </div>
            <div class="message-center">
                Basta se logar no nosso site que a mágica acontece
                em poucos segundos.
            </div>
        </div>

        <div class="list-group col-md-6" data-ng-show="logged">
            <div class="list-group-item" ng-repeat="feed in feedsWithLocation">
                <span class="feed-message">{{feed.message|angular}} - em </span> <span class="feed-place">{{feed.place.name|angular}}</span>
            </div>
        </div>

    </div>
</div>
{% endblock %}

</body>
{% endblock %}
