{% extends "bootstrap/base.html" %}

{% block html_attribs %} ng-app="CiulApp" {% endblock %}

{% block scripts %}
    <!-- Angular JS -->
    <script type="text/javascript" src="{{url_for('static', filename='js/angular.min.js')}}"></script>

    <!-- Pusher JS -->
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <!-- Angular Facebook -->
    <script type="text/javascript" src="{{url_for('static', filename='js/angular-facebook.js')}}"></script>

    <!-- App Angular -->
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

    <!-- Ng Map Angular -->
     <script type="text/javascript" src="{{url_for('static', filename='js/ng-map.min.js')}}"></script>
    {{super()}}
    {% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
    <body data-ng-controller="MainController as control">



        {% block navbar %}
            <div class="navbar navbar-fixed-top">

            </div>
        {% endblock %}

        <h1>Real Time Project </h1>

        <div>
            <div class="alert alert-info" data-ng-show="salutation">Hello, {{user.name|angular}}</div>
        </div>

        <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">Login with Facebook</button>
        <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</button>


        <div class="container">
            <div class="col-md-6">
                <h3 data-ng-show="logged"> Confira os últimos lugares</h3>
                <div class="list-group-item" ng-repeat="location in feedsWithLocation">
                    <p>{{location.place.id|angular}} - {{location.place.name|angular}} /
                    {{location.place.location.latitude|angular}} : {{location.place.location.longitude|angular}}
                    </p>
                </div>
            </div>

            <div class="col-md-6" data-ng-show="logged" >
                <h3> Veja no Mapa</h3>
                <map zoom="2" center="0, -80" map-type-id="TERRAIN">
                    <shape name="polyline" path="{{mapLocations|angular}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2">
                    </shape>
                </map>
            </div>
        </div>


    </body>
{% endblock %}